<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- 引入属性文件 -->
    <!-- property-placeholder采用通配符引入多个属性文件 -->
    <!--<context:property-placeholder location="classpath:*.properties"/>-->
    <!-- 使用bean的方式引入多个属性文件 -->
    <!-- 可使用PropertyPlaceholderConfigurer或者PropertySourcesPlaceholderConfigurer -->
    <bean id="propertySourcesPlaceholderConfigurer" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <property name="locations">
            <array>
                <value>classpath:jdbc.properties</value>
                <!--<value>classpath:*.properties</value>-->
            </array>
        </property>
    </bean>

    <!-- Service包(自动注入) -->
    <context:component-scan base-package="com.baomidou.springmvc.service"/>

    <import resource="classpath:spring/spring-mybatis.xml"/>
</beans>